body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}