.footer{
    background-color: #023c4b;
    margin-top: -4rem;
    height: 4rem;
    width:180%;
    margin-left: -40%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
}