@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Roboto&display=swap');

.virtual-body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.heading {
    font-size: 3.5rem;
    text-align: center;
    margin-top: -4rem !important;
    margin-bottom: 4rem !important;
    font-family: 'Merriweather', serif;
}

.url-form {
    /* background-color: rgb(4, 23, 40); */
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 35rem;
    width: 80rem;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 5rem;
    font-family: monaco, Consolas, Lucida Console, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}


.layer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#long-url,
#alias {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin: 12px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

#long-url:focus,
#alias:focus {
    outline: none;
    border-color: #0DA89C;
    box-shadow: 0 0 5px #0DA89C;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submit {
    padding: 10px 20px;
    background-color: #94D5F1;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

#submit:hover {
    background-color: #3093bd;
}